body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/64525a62c1226a7b4e5e5281/4c62e374-9d00-4bc7-951a-64d7011619c7/Lake+St++Clair+Fisherman+September+2009+%281+of+1%29.png");
  background-position: center;
  background-size: 1920px 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: 50%;
  border-style: outset;
  border: 2px solid rgb(255, 253, 253);
  border-radius: 8px;
  padding: 5px;
  border-style: solid;
border-width: larger;
  gap: 40px;
  
}
.Virsraksts2{
 display: flex;
justify-content: center;
color: azure;
font-weight: bold;
font-size: 25px;
}
.button:hover 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.btn {
  color: #0ebac5;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: calibri;
  border-radius: 3px;
  border: 2px solid #0ebac5;
  padding: 1rem 2rem;
  box-shadow: .9px 1px 0 0 #0ebac5, 1.5px 2px 0 0 #0ebac5, 2.5px 3px 0 0 #0ebac5, 3.5px 4px 0 0 #0ebac5, 4.5px 5px 0 0 #0ebac5, 5.5px 6px 0 0 #0ebac5, 6.5px 7px 0 0 #0ebac5, 7.5px 8px 0 0 #0ebac5, 8.5px 9px 0 0 #0ebac5, 9.5px 10px 0 0 #0ebac5;
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 600ms ease;
}

.btn:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
}


